.good-card {
  width: 100%;
  display: flex;
  flex-direction: column;
  padding: 1.6rem;
  padding-top: 0;
  color: #000;
  text-decoration: none;
  background: #FCFCFC;
  border: 1px solid #ECECEC;
  height: 100%;
  transition: all .3s;
  @include hover() {
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.06);
  }
  @include breakpoint($desktop-width) {
    padding: 3rem;
    padding-top: 0;
  }

  &__img-wrap {
    height: 20rem;
    margin-left: -1.6rem;
    margin-right: -1.6rem;
    margin-bottom: 1.6rem;
    background-color: #fff;
    @include breakpoint($desktop-width) {
      margin-left: -3rem;
      margin-right: -3rem;
      height: 27rem;
    }
  }

  &__img {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: contain;
  }

  &__title {
    margin: 0;
    margin-bottom: 3rem;
    font-size: 1.8rem;
    line-height: 1.2;
    font-weight: 500;
  }

  &__desc {
    margin: 0;
    margin-bottom: 4rem;
    font-size: 1.4rem;
    line-height: 1.5;
    color: #6A6A6A;
  }

  &__bottom {
    display: flex;
    align-items: baseline;
    justify-content: space-between;
    margin-top: auto;
  }

  &__price {
    font-weight: 500;
    font-size: 2.6rem;
    line-height: 1.2;
  }

  &__more {
    display: flex;
    align-items: center;
    color: $color-main;

    svg {
      width: 1.4rem;
      height: 0.8rem;
      fill: currentColor;
      margin-left: .8rem;
    }
  }
}
