.header {
  position: sticky;
  top: 0;
  width: 100%;
  background-color: #fff;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.03);

  &__top {
    background-color: #F4F4F4;
  }

  &__top-inner {
    display: flex;
    align-items: center;
    padding: .7rem 0;

    .user-actions {
      display: none;
      @include breakpoint($tablet-width) {
        display: flex;
      }
    }
  }

  &__phone {
    @include breakpoint($desktop-width) {
      display: flex;
      align-items: center;
      font-size: 1.4rem;
    }
  }

  &__phone-link {
    line-height: 2rem;
  }

  &__phone-text {
    display: none;
    @include breakpoint($desktop-width) {
      display: block;
      color: #949494;
      margin-left: 1rem;
      font-size: 1.4rem;
    }
  }

  &__social-list {
    margin-left: auto;
  }

  &__nav {
    padding: 2.5rem 0;
    background-color: #fff;
    @include breakpoint($desktop-width) {
      padding: 0;
    }
  }

  &__nav-inner {
    display: flex;
    justify-content: space-between;
    align-items: center;
    @include breakpoint($desktop-width) {
      justify-content: flex-start;
    }
  }

  &__logo-wrap {
    @include breakpoint($desktop-width) {
      flex-shrink: 0;
      margin-right: 2.5rem;
      padding: 2.5rem;
      padding-left: 0;
      border-right: 1px solid rgba(0, 0, 0, 0.06);
    }
  }

  &__logo-link {
    width: 13rem;
  }

  &__logo-img {
    display: block;
  }

  &__catalog-link {
    margin: 0 1rem;
    padding: 1.5rem 2.8rem;
    display: flex;
    align-items: center;
    background-color: $color-main;
    color: #fff;
    text-decoration: none;
    font-weight: 500;
    @include breakpoint($desktop-width) {
      margin: 0;
      margin-right: 3rem;
    }

    svg {
      width: 1.6rem;
      height: 1.6rem;
      margin-right: 0.7rem;
    }
  }

  &__menu-toggle {
    @include btn-reset();
    @include breakpoint($desktop-width) {
      display: none;
    }
  }

  &__menu-icon {
    width: 4rem;
    height: 4rem;
    &._close {
      display: none;
    }
  }

  &__mobile-menu {
    @include breakpoint-only(0, $desktop-width) {
      position: fixed;
      top: var(--header-height);
      left: 0;
      height: calc(100 * var(--vh) - var(--header-height));
      overflow: auto;
      transform: translateY(-100%);
      width: 100%;
      padding: 3rem 2rem;
      padding-top: 1rem;
      background-color: #fff;
      z-index: -1;
      transition: transform .3s;
    }
    @include breakpoint($desktop-width) {
      display: contents;
    }
  }

  &__nav-list {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    @include breakpoint($desktop-width) {
      width: auto;
      flex-direction: row;
      justify-content: space-between;
      flex-grow: 1;
      max-width: 80rem;
      margin-left: auto;
      margin-right: -1rem;
      align-self: stretch;
    }
    @include breakpoint($note-width) {
      max-width: none;
      justify-content: flex-start;
      margin-right: -3rem;
      align-items: stretch;
      flex-grow: 0;
    }
  }

  &__nav-item {
    margin-bottom: 1rem;
    &:last-child {
      margin-bottom: 0;
    }
    @include breakpoint($desktop-width) {
      margin: 0;
      margin-right: 1rem;
      &:last-child {
        margin-right: 0;
      }
      &._bordered {
        @include breakpoint($note-width) {
          position: relative;
          margin-left: 3rem;
          &::after {
            content: '';
            position: absolute;
            top: 0;
            left: -3rem;
            height: 100%;
            width: 1px;
            background-color: rgba(0, 0, 0, 0.06);
          }
        }
      }
    }

    @include breakpoint($note-width) {
      margin-right: 3rem;
      display: flex;
      align-items: center;
    }

    &._nested {
      @include breakpoint($desktop-width) {
        position: relative;
      }
      .header {
        &__nav-link {
          display: flex;
          align-items: center;
          margin-left: auto;
          margin-right: auto;
          width: fit-content;
          @include breakpoint($desktop-width) {
            @include hover() {
              + .header__nested-list{
                opacity: 1;
                visibility: visible;
                pointer-events: initial;
              }
            }
          }
          svg {
            display: none;
            width: 1.2rem;
            height: 0.6rem;
            fill: none;
            margin-left: .4rem;
            @include breakpoint($desktop-width) {
              display: block;
            }
          }
        }
      }
    }

    &._user-actions {
      width: 100%;
      @include breakpoint($desktop-width) {
        display: none;
      }
    }
  }

  &__nav-link {
    padding: 1rem 1rem;
    display: block;
    color: #000;
    font-size: 1.8rem;
    font-weight: 500;
    text-decoration: none;
    transition: color .3s;
    @include hover() {
      color: $color-main;
    }
    @include breakpoint($tablet-width) {
      font-size: 3.2rem;
    }
    @include breakpoint($desktop-width) {
      font-size: 1.4rem;
      font-weight: 400;
      padding: 0.5rem 0;
    }
    @include breakpoint($note-width) {
      font-size: 1.6rem;
    }
  }

  &__nested-list {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    @include breakpoint($desktop-width) {
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, 1.2rem);
      padding: 1rem;
      background-color: #fff;
      box-shadow: 0 0 24px  rgba(0, 0, 0, 0.2);
      align-items: flex-start;
      visibility: hidden;
      opacity: 0;
      pointer-events: none;
      transition: opacity .3s;
      @include hover() {
        opacity: 1;
        visibility: visible;
        pointer-events: initial;
      }
    }
  }

  &__nested-link {
    display: block;
    padding: 1rem;
    font-size: 1.6rem;
    text-decoration: none;
    color: #000;
    transition: color .3s;
    @include hover() {
      color: $color-main;
    }
    @include breakpoint($tablet-width) {
      font-size: 2.4rem;
    }
    @include breakpoint($desktop-width) {
      font-size: 1.6rem;
      text-align: left;
    }
  }
}
