<a href="#" class="good-card">
  <div class="good-card__img-wrap">
    <img src="assets/img/good-set/good-1.png" alt="" class="good-card__img">
  </div>
  <h3 class="good-card__title">Комбинированный микшер-усилитель CVGAUDIO ReBox-T4</h3>
  <p class="good-card__desc">Миниатюрный экономичный микшер – усилитель, 40W/100V, MP3 (USB/SD) плеер / FM тюнер / Bluetooth</p>
  <div class="good-card__bottom">
    <span class="good-card__price">444 444 ₽</span>
    <span class="good-card__more">
      <span>Подробнее</span>
      <svg><use xlink:href="assets/sprite.svg#arrow-right"></use></svg>
    </span>
  </div>
</a>
