<section class="info">
  <div class="container">
    <div class="info__inner">
      <h2 class="info__title title">Профессиональное звуковое, световое и&nbsp;видеооборудование</h2>
      <div class="info__text-wrap">
        <p>Это динамично развивающаяся компания, зарекомендовавшая себя на&nbsp;рынке профессионального звукового и&nbsp;мультимедийного оборудования. Компания обеспечивает поддержкой своих постоянных партнеров, оказывая широкий спектр услуг:</p>
        <p>консультация, подготовка готовых технических решений, специальные цены под проекты, поставка, обучение персонала партнеров, монтаж звука, видео, аудио систем в&nbsp;помещениях и&nbsp;на&nbsp;улице в&nbsp;Москве, гарантия на&nbsp;все оборудования и&nbsp;сервис.</p>
        <p>Компания Альфа Звук является дилером крупных дистрибьютеров высококачественного профессионального аудиовизуального оборудования для оснащения объектов различных уровней сложности&nbsp;&mdash; объектов культуры, спорта, развлечений, деловых мероприятий и&nbsp;ответственных проектов в&nbsp;различных отраслях промышленности и&nbsp;регионах.</p>
      </div>
    </div>
  </div>
</section>
