<ul class="pagination">
  <span class="pagination__link js-pagination-link _disabled">
    <span class="pagination__content"><svg class="pagination__icon"><use xlink:href="assets/sprite.svg#arrow-left"></use></svg></span>
  </span>
  <span class="pagination__link js-pagination-link _current" data-page="1">
    <span class="pagination__content">1</span>
  </span>
  <a href="#" class="pagination__link js-pagination-link" data-page="2">
    <span class="pagination__content">2</span>
  </a>
  <a href="#" class="pagination__link js-pagination-link" data-page="3">
    <span class="pagination__content">3</span>
  </a>
  <a href="#" class="pagination__link js-pagination-link" data-page="4">
    <span class="pagination__content">4</span>
  </a>
  <a href="#" class="pagination__link js-pagination-link" data-page="5">
    <span class="pagination__content">5</span>
  </a>
  <a href="#" class="pagination__link js-pagination-link _desktop _mobile" data-page="7">
    <span class="pagination__content">...</span>
  </a>
  <a href="#" class="pagination__link js-pagination-link _desktop _mobile" data-page="12">
    <span class="pagination__content"><span class="pagination__content">12</span></span>
  </a>
  <a href="#" class="pagination__link js-pagination-link _desktop _mobile" data-page="2">
    <span class="pagination__content"><svg  class="pagination__icon"><use xlink:href="assets/sprite.svg#arrow-right"></use></svg></span>
  </a>
</ul>

<br>
<br>

<ul class="pagination">
  <a href="#" class="pagination__link js-pagination-link" data-page="3">
    <span class="pagination__content"><svg class="pagination__icon"><use xlink:href="assets/sprite.svg#arrow-left"></use></svg></span>
  </a>
  <a href="#" class="pagination__link js-pagination-link" data-page="1">
    <span class="pagination__content">1</span>
  </a>
  <a href="#" class="pagination__link js-pagination-link" data-page="2">
    <span class="pagination__content">2</span>
  </a>
  <a href="#" class="pagination__link js-pagination-link" data-page="3">
    <span class="pagination__content">3</span>
  </a>
  <span class="pagination__link js-pagination-link _current" data-page="4">
    <span class="pagination__content">4</span>
  </span>
  <a href="#" class="pagination__link js-pagination-link" data-page="5">
    <span class="pagination__content">5</span>
  </a>
  <a href="#" class="pagination__link js-pagination-link _desktop _mobile" data-page="7">
    <span class="pagination__content">...</span>
  </a>
  <a href="#" class="pagination__link js-pagination-link _desktop _mobile" data-page="12">
    <span class="pagination__content"><span class="pagination__content">12</span></span>
  </a>
  <a href="#" class="pagination__link js-pagination-link _desktop _mobile" data-page="5">
    <span class="pagination__content"><svg  class="pagination__icon"><use xlink:href="assets/sprite.svg#arrow-right"></use></svg></span>
  </a>
</ul>
<br>
<br>


<ul class="pagination">
  <a href="#" class="pagination__link js-pagination-link" data-page="4">
    <span class="pagination__content"><svg class="pagination__icon"><use xlink:href="assets/sprite.svg#arrow-left"></use></svg></span>
  </a>
  <a href="#" class="pagination__link js-pagination-link" data-page="1">
    <span class="pagination__content">1</span>
  </a>
  <a href="#" class="pagination__link js-pagination-link" data-page="2">
    <span class="pagination__content">...</span>
  </a>
  <a href="#" class="pagination__link js-pagination-link" data-page="4">
    <span class="pagination__content">4</span>
  </a>
  <span class="pagination__link js-pagination-link _current" data-page="5">
    <span class="pagination__content">5</span>
  </span>
  <a href="#" class="pagination__link js-pagination-link" data-page="6">
    <span class="pagination__content">6</span>
  </a>
  <a href="#" class="pagination__link js-pagination-link _desktop _mobile" data-page="8">
    <span class="pagination__content">...</span>
  </a>
  <a href="#" class="pagination__link js-pagination-link _desktop _mobile" data-page="12">
    <span class="pagination__content"><span class="pagination__content">12</span></span>
  </a>
  <a href="#" class="pagination__link js-pagination-link _desktop _mobile" data-page="6">
    <span class="pagination__content"><svg  class="pagination__icon"><use xlink:href="assets/sprite.svg#arrow-right"></use></svg></span>
  </a>
</ul>

<br>
<br>

<ul class="pagination">
  <a href="#" class="pagination__link js-pagination-link" data-page="8">
    <span class="pagination__content"><svg class="pagination__icon"><use xlink:href="assets/sprite.svg#arrow-left"></use></svg></span>
  </a>
  <a href="#" class="pagination__link js-pagination-link" data-page="1">
    <span class="pagination__content">1</span>
  </a>
  <a href="#" class="pagination__link js-pagination-link" data-page="6">
    <span class="pagination__content">...</span>
  </a>
  <a href="#" class="pagination__link js-pagination-link" data-page="8">
    <span class="pagination__content">8</span>
  </a>
  <span class="pagination__link js-pagination-link _current" data-page="9">
    <span class="pagination__content">9</span>
  </span>
  <a href="#" class="pagination__link js-pagination-link" data-page="10">
    <span class="pagination__content">10</span>
  </a>
  <a href="#" class="pagination__link js-pagination-link" data-page="11">
    <span class="pagination__content">11</span>
  </a>
  <a href="#" class="pagination__link js-pagination-link _desktop _mobile" data-page="12">
    <span class="pagination__content"><span class="pagination__content">12</span></span>
  </a>
  <a href="#" class="pagination__link js-pagination-link _desktop _mobile" data-page="10">
    <span class="pagination__content"><svg  class="pagination__icon"><use xlink:href="assets/sprite.svg#arrow-right"></use></svg></span>
  </a>
</ul>

<br>
<br>

<ul class="pagination">
  <a href="#" class="pagination__link js-pagination-link" data-page="11">
    <span class="pagination__content"><svg class="pagination__icon"><use xlink:href="assets/sprite.svg#arrow-left"></use></svg></span>
  </a>
  <a href="#" class="pagination__link js-pagination-link" data-page="1">
    <span class="pagination__content">1</span>
  </a>
  <a href="#" class="pagination__link js-pagination-link" data-page="6">
    <span class="pagination__content">...</span>
  </a>
  <a href="#" class="pagination__link js-pagination-link" data-page="8">
    <span class="pagination__content">8</span>
  </a>
  <a href="#" class="pagination__link js-pagination-link" data-page="9">
    <span class="pagination__content">9</span>
  </a>
  <a href="#" class="pagination__link js-pagination-link" data-page="10">
    <span class="pagination__content">10</span>
  </a>
  <a href="#" class="pagination__link js-pagination-link" data-page="11">
    <span class="pagination__content">11</span>
  </a>
  <span class="pagination__link js-pagination-link _desktop _mobile _current" data-page="12">
    <span class="pagination__content"><span class="pagination__content">12</span></span>
  </span>
  <span class="pagination__link js-pagination-link _desktop _mobile _disabled" data-page="12">
    <span class="pagination__content"><svg  class="pagination__icon"><use xlink:href="assets/sprite.svg#arrow-right"></use></svg></span>
  </span>
</ul>

<br>
<br>

<ul class="pagination">
  <a href="#" class="pagination__link js-pagination-link" data-page="1">
    <span class="pagination__content"><svg class="pagination__icon"><use xlink:href="assets/sprite.svg#arrow-left"></use></svg></span>
  </a>
  <a href="#" class="pagination__link js-pagination-link" data-page="1">
    <span class="pagination__content">1</span>
  </a>
  <span class="pagination__link js-pagination-link _current" data-page="2">
    <span class="pagination__content">2</span>
  </span>
  <a href="#" class="pagination__link js-pagination-link" data-page="3">
    <span class="pagination__content">3</span>
  </a>
  <a href="#" class="pagination__link js-pagination-link" data-page="4">
    <span class="pagination__content">4</span>
  </a>
  <a href="#" class="pagination__link js-pagination-link" data-page="5">
    <span class="pagination__content">5</span>
  </a>
  <a href="#" class="pagination__link js-pagination-link" data-page="6">
    <span class="pagination__content">6</span>
  </a>
  <a href="#" class="pagination__link js-pagination-link" data-page="7">
    <span class="pagination__content">7</span>
  </a>
  <a href="#" class="pagination__link js-pagination-link _desktop _mobile" data-page="3">
    <span class="pagination__content"><svg  class="pagination__icon"><use xlink:href="assets/sprite.svg#arrow-right"></use></svg></span>
  </a>
</ul>
