<div class="user-actions">
  <a href="mailto:info@alfazvuk.ru" class="user-actions__item link" target="_blank">info@alfazvuk.ru</a>
  <a href="#" class="user-actions__item link">Обратный звонок</a>
  <a href="#" class="user-actions__item _search link">
    <svg><use xlink:href="assets/sprite.svg#loupe"></use></svg>
    <span>Поиск</span>
  </a>
</div>
