{% extends 'templates/base.twig' %}

{% set pageName = 'contacts' %}

{% block page %}

{% include 'templates/breadcrumbs.twig' %}

<section class="contacts">
  <div class="container">
    <div class="contacts__inner">
      <div class="contacts__content">
        <h1 class="contacts__title title">Контакты</h1>
        <p class="contacts__company-name">ООО «Альфа Технолоджис» /ИНН 7733245646</p>
        <ul class="contacts__list">
          <li class="contacts__item">
            <h3 class="contacts__item-title">Адрес</h3>
            <p class="contacts__item-value">127549, Г.&nbsp;Москва, ул. Пришвина, д.8, офис &#8470;&nbsp;120</p>
          </li>
          <li class="contacts__item">
            <h3 class="contacts__item-title">Бесплатный звонок по России</h3>
            <a href="tel:8 (800) 444 34 35" class="contacts__item-value">8 (800) 444 34 35</a>
          </li>
          <li class="contacts__item _row">
            <div class="contacts__item-wrap">
              <h3 class="contacts__item-title">Соц. сети</h3>
              <a href="tel:8 (916) 959 85 65 " class="contacts__item-value">8 (916) 959 85 65 </a>
            </div>
            {% include 'templates/social-list.twig' %}
          </li>
          <li class="contacts__item">
            <h3 class="contacts__item-title">E-mail</h3>
            <a href="mailto:info@alfazvuk.ru" target="_blank" class="contacts__item-value">info@alfazvuk.ru</a>
          </li>
          <li class="contacts__item">
            <h3 class="contacts__item-title">Режим работы</h3>
            <p class="contacts__item-value">
              Мы работаем <b>каждый будний день с 10:00 до 18:00</b> <br>
              Выходные дни: Суббота, Воскресенье
            </p>
          </li>
        </ul>
      </div>
      <div class="contacts__map js-map" id="contacts-map"></div>
    </div>
  </div>
</section>

<section class="feedback">
  <div class="container">
    <h2 class="feedback__title title">Обратная связь</h2>
    <form action="action-url" class="feedback__form form _grey js-form" data-name="feedback">
      <div class="feedback__fields">
        <div class="feedback__text-inputs">
          <div class="form__item js-form-item">
            <input type="text" placeholder="Ваше имя" class="form__text-input" name="name">
          </div>
          <div class="form__item js-form-item">
            <input type="text" placeholder="Название организации" class="form__text-input" name="organization">
          </div>
          <div class="form__item js-form-item">
            <input type="text" placeholder="Телефон*" class="form__text-input js-required js-phone-mask" inputmode="numeric" name="phone" data-name="phone">
          </div>
          <div class="form__item js-form-item">
            <input type="text" placeholder="E-mail" class="form__text-input" name="email">
          </div>
        </div>
        <div class="form__item feedback__textarea-wrap js-form-item">
          <textarea class="form__text-input feedback__textarea js-required" name="message" data-name="message" placeholder="Сообщение"></textarea>
        </div>
      </div>
      <div class="feedback__form-bottom">
        <button class="feedback__submit-btn btn" type="submit">Отправить</button>
        <div class="form__policy">
          <label class="form__checkbox js-form-item">
            <input class="form__checkbox-input js-required" type="checkbox" name="privacy-policy">
            <span class="form__checkbox-text">
              <span>Нажимая кнопку “отправить” я даю согласие на обработку персональных данных в соответсвие с <a href="#" target="_blank" class="link">политикой конфиденциальности</a></span>
            </span>
          </label>
        </div>
      </div>
    </form>
  </div>

  <div class="popup js-popup" id="feedback-success-popup">
    <button class="popup__close-btn js-close-popup" type="button">
      <svg><use xlink:href="assets/sprite.svg#close"></use></svg>
    </button>
    <div class="popup__inner">
      <h3 class="title">Ваша заявка отправлена</h3>
    </div>
  </div>
</section>

{% endblock %}
