{% extends 'templates/base.twig' %}

{% block title %}Список страниц{% endblock %}

{% block page %}
    {%
        set pagesList = [
          {
              link: 'complex-solutions',
              title: 'Комплексные решения'
          },
          {
              link: 'complex-solutions-category',
              title: 'Комплексные решения - категория'
          },
          {
              link: 'complex-solutions-card',
              title: 'Комплексные решения - карточка'
          },
          {
              link: 'portfolio',
              title: 'Портфолио'
          },
          {
              link: 'portfolio-detail',
              title: 'Портфолио - детальная'
          },
          {
              link: 'services',
              title: 'Услуги'
          },
          {
              link: 'services-detail',
              title: 'Услуги - детальная'
          },
          {
              link: 'publication',
              title: 'Публикация'
          },
          {
              link: 'publication-detail',
              title: 'Публикация - детальная'
          },
          {
              link: 'contacts',
              title: 'Контакты'
          },
          {
              link: 'catalog',
              title: 'Каталог'
          },
        ]
    %}

    <div class="container" style="margin-bottom: 100px">
        <h1>{{ block("title") }}</h1>

        <ul>
            {% for item in pagesList %}
                <li style="margin-bottom: 1rem">
                    <a href="{{ item.link }}.html">{{ item.title }}</a>
                </li>
            {% endfor %}
        </ul>
    </div>
{% endblock %}
