{% extends 'templates/base.twig' %}

{% block page %}

<section class="portfolio-detail">
  <div class="portfolio-detail__banner" style="background-image: url('assets/img/portfolio-detail-banner.jpg')">
    {% include 'templates/breadcrumbs.twig' %}
    <div class="container">
      <h1 class="portfolio-detail__title title">Альфа Банк</h1>
    </div>
  </div>
  <div class="container">
    <div class="content">
      <p>Альфа-Банк, основан в 1990 году, и является универсальным банком, осуществляющим все основные виды банковских операций, представленных на рынке финансовых услуг, включая обслуживание частных и корпоративных клиентов, инвестиционный банковский бизнес, торговое финансирование и т.д.</p>
      <p>Альфа-Банк подтверждает лидирующие позиции в банковском секторе России, банк входит в список топ-10 системно значимых кредитных организаций  и сохраняет позицию крупнейшего российского банка по размеру совокупного капитала, кредитному портфелю и средствам клиентов.</p>
      <p>Филиальная сеть Альфа банка распространяется по всем крупным городам, количество офисов более 600 в более 250 городах России.</p>
      <img src="assets/img/portfolio-detail.jpg" alt="">
      <p>Для уличного оповещения мы использовали инсталляционные двухполосные акустические системы Yamaha <a href="#">VXS5W</a>. Акустическая система адаптирована для использования как в помещении, так и на улице. Преимуществом колонок VXS5W есть пластиковый корпус фазо-резонансного типа, который в паре с  двух полосной системой динамиков способен выдать 150 Вт постоянной мощности в диапазоне 62 - 20000 Гц.</p>
      <p>В помещении использовали встраиваемые двухполосные акустические системы <a href="#">Apart Audio CM20DT</a>. Корпус АС выполнен из жесткого ABS-пластика, имеет малую глубину и фирменный коннектор Quick Fix. Декоративная тонкая кромочная решетка делает CM20DT идеальным громкоговорителем под любой дизайн помещения.</p>
      <p>Для регулировки уровня громкости на улице и в помещении использованы зарекомендовавшие себя регуляторы громкости <a href="#">CVG Audio VA-160</a>. Это настенный одинадцатипозиционный регулятор громкости (аттенюатор) для 100V трансляционных систем. Максимальная мощность нагрузки - 60W. Установка в стандартную электрическую монтажную коробку. Габаритные размеры: 80mm x 80mm x 69mm, встраиваемая в стену часть 46mm. Аварийное реле обхода 24V - при подаче 24V на управляющие контакты регулятор автоматически переводится на максимальную громкость. Пластиковая декоративная панель, цвет белый.</p>
      <p>Для усиления звуковой системы использованы миниатюрные профессиональные микшер-усилители <a href="#">CVG audio ReBox-T18</a>. Это экономичный Public Address микшер – усилитель для настольной или настенной установки, 180W/100V, встроенный модуль источника сигнала - MP3 (USB/SD) плеер / FM тюнер / Bluetooth.</p>
      <strong>В результате удалось создать многофункциональный и легкий в управлении звуковой комплекс и при этом реализовать проект быстро и качественно.</strong>
    </div>
  </div>
</section>

{% endblock %}
