{% extends 'templates/base.twig' %}

{% block page %}

{% include 'templates/breadcrumbs.twig' %}
<section class="publication">
  <div class="container">
    <h1 class="publication__title title">Публикации</h1>
    <ul class="publication__list">
      <li class="publication__item">
        <a href="#" class="publication__link">
          <p class="publication__item-date">12.02.2021</p>
          <h2 class="publication__item-title">Как подобрать звукоизоляционную кабину кабину кабину кабину кабину кабину</h2>
          <p class="publication__label">полезно знать</p>
          <img class="publication__img" src="assets/img/publication/big.jpg" alt="">
        </a>
      </li>
      <li class="publication__item">
        <a href="#" class="publication__link">
          <p class="publication__item-date">12.02.2021</p>
          <h2 class="publication__item-title">Как подобрать звукоизоляционную кабину кабину кабину кабину кабину</h2>
          <p class="publication__label">полезно знать</p>
          <img class="publication__img" src="assets/img/publication/small.jpg" alt="">
        </a>
      </li>
      <li class="publication__item">
        <a href="#" class="publication__link">
          <p class="publication__item-date">12.02.2021</p>
          <h2 class="publication__item-title">Как подобрать звукоизоляционную кабину</h2>
          <p class="publication__label">полезно знать</p>
          <img class="publication__img" src="assets/img/publication/small.jpg" alt="">
        </a>
      </li>
      <li class="publication__item">
        <a href="#" class="publication__link">
          <p class="publication__item-date">12.02.2021</p>
          <h2 class="publication__item-title">Как подобрать звукоизоляционную кабину</h2>
          <p class="publication__label">полезно знать</p>
          <img class="publication__img" src="assets/img/publication/small.jpg" alt="">
        </a>
      </li>
      <li class="publication__item">
        <a href="#" class="publication__link">
          <p class="publication__item-date">12.02.2021</p>
          <h2 class="publication__item-title">Как подобрать звукоизоляционную кабину</h2>
          <p class="publication__label">полезно знать</p>
          <img class="publication__img" src="assets/img/publication/small.jpg" alt="">
        </a>
      </li>
      <li class="publication__item">
        <a href="#" class="publication__link">
          <p class="publication__item-date">12.02.2021</p>
          <h2 class="publication__item-title">Как подобрать звукоизоляционную кабину кабину кабину кабину кабину кабину</h2>
          <p class="publication__label">новости</p>
          <img class="publication__img" src="assets/img/publication/small.jpg" alt="">
        </a>
      </li>
      <li class="publication__item">
        <a href="#" class="publication__link">
          <p class="publication__item-date">12.02.2021</p>
          <h2 class="publication__item-title">Как подобрать звукоизоляционную кабину</h2>
          <p class="publication__label">полезно знать</p>
          <img class="publication__img" src="assets/img/publication/small.jpg" alt="">
        </a>
      </li>
    </ul>

    {% include 'templates/pagination.twig' %}
  </div>
</section>
{% endblock %}
