{% extends 'templates/base.twig' %}

{% block page %}

{% include 'templates/breadcrumbs.twig' %}

<section class="publication-detail">
  <div class="container">
    <div class="publication-detail__top">
      <div class="publication-detail__info">
        <p class="publication-detail__info-item">21.03.2021</p>
        <p class="publication-detail__info-item">Полезно знать</p>
      </div>
      <h1 class="publication__title title">Как выбрать звукоизоляционную кабину</h1>
      <img src="assets/img/publication-detail.jpg" alt="" class="publication-detail__img">
    </div>
    <div class="content">
      <p>Для качественной записи вокала, музыки, речи нужна чувствительная аппаратура. Без звукоизоляции она «воспримет» не только голос и мелодию, но и посторонние шумы, поэтому студии оборудуют звукоизоляционные кабины. Это сооружение с высокотехнологичным изолирующим наполнением, которое устанавливают в помещении.</p>
      <p>От фоновых шумов не спрятаться даже на студиях звукозаписи, а полностью защитить от посторонних звуков целую комнату – технически сложно и дорого. Зато специальная кабина помогает записывать качественное аудио, ее стены ограждают аппаратуру и пользователя от внешних шумов.</p>

      <h2>Сфера применения</h2>
      <p>Звукоизоляционная кабина создает акустически комфортное пространство для занятий музыкой, мультимедиа, записи голоса. Его устанавливают студии звукозаписи, ведь без хорошей звукоизоляции помещения даже лучшее оборудование не обеспечит профессиональный уровень звука. Но поставить кабину можно и в жилом доме, эти сооружения активно используют вокалисты и музыканты, которые хотят репетировать и записываться дома. Благодаря специальной конструкции кабины их творчество не доставляет дискомфорта окружающим.</p>
      <p>Востребованы акустические кабины и среди блогеров, которые записывают видео или «стримят». Звукоизолирующее помещение позволяет делать это в любое время суток и к тому же гарантирует высокое качества звука на видео.</p>
      <p>Используют кабины для репетиций также дикторы и актеры, без них не обходятся продюсеры и звукорежиссеры. Для озвучивания фильмов и сериалов, телевизионных программ и рекламы необходима добротная изоляционная кабина, иначе на записи появятся дефекты.</p>
      <p>Однако кабины устанавливают не только специалисты, которые работают со звуком. Эти сооружения востребованы в офисах и центрах, поскольку позволяют вести переговоры даже в многолюдных местах. Звукоизоляция гарантирует конфиденциальность бесед.</p>

      <h2>Как устроена звукоизоляционная кабина</h2>
      <p>Большинство сооружений обшивают акустическим поролоном – материалом, который эффективно «гасит» внешние шумы. Однако стенки кабины обязательно оформляются несколькими слоями разных звукоизолирующих материалов, некоторые из них также поглощают вибрацию и не позволяют громким звукам доноситься из кабины наружу. Благодаря специальной акустической обработке всех поверхностей при записи звука не возникает внутренних резонансов и эхо, а время реверберации остается в пределах нормы.</p>
      <p>В зависимости от модели кабина обеспечивает звукоизоляцию от 3 до 30 децибелов. Как эти характеристики воспринимаются человеческим ухом? Минимальный уровень изоляции дает ощущение, будто внешние шумы стали тише в два раза. Звукоизоляция в 10 децибелов воспринимается нами как снижение уровня шума примерно в три раза. Однако профессиональные кабины предлагают изоляцию в диапазоне 15-40 децибелов, то есть внешние шумы будут практически не слышны.</p>
      <p>Однако есть и исключение. При помощи звукоизоляции нельзя на 100% заглушить такие мощные звуки, какие производит взлетающий самолет или автоматная очередь. Впрочем, шума пылесоса снаружи в профессиональной кабине вы уже не расслышите.</p>
      <p>В большинстве звукоизоляционных кабин есть все, что может потребоваться для записи или репетиций: вентиляция, которая работает бесшумно, сетевой фильтр, столик, большое окно.</p>
      <p>Производители предусматривают и возможность подключения разной техники. Некоторые модели позволяют регулировать подсветку и без усилий менять положение кабины в основном помещении.</p>

      <h2>Как устроена звукоизоляционная кабина</h2>
      <p>Оборудование классифицируют по разным признакам:</p>
      <p>
        Уровню звукоизоляции: стандартные, усиленные и профессиональные.<br>
        Размеру: он зависит от количества мест, в продаже есть кабины на одного человека, двух, трех и так далее.<br>
        Способу установки: угловые, пристенные, отдельно стоящие. Если угловые и пристенные модели примыкают к стенам помещения, то отдельно стоящие сооружения – нет.<br>
        Типу конструкции: стационарные или сборно-разборные, которые допускают демонтаж и установку на новом месте.<br>
        По дополнительным опциям: встроенное освещение, вентиляция, наличие полок, розеток, сетевых фильтров и прочего.
      </p>
      <p>Сборно-разборные модели пользуются высоким спросом среди профессионалов и любителей. Их установка проходит быстрее и стоит дешевле в сравнении со стационарными конструкциями. Они позволяют репетировать, записывать музыку или вести видео-блог в любое время суток, не вызывая недовольства соседей, и в любой момент благодаря кабине вы можете скрыться от окружающего шума, даже если находитесь в работающем заводском цеху.</p>
      <p>Иногда музыканты или вокалисты стремятся сэкономить на акустическом оборудовании и решают сделать звукоизоляционную кабину самостоятельно. Теоретически это возможно, хоть и требует незаурядных навыков и знаний, однако экономия призрачная. Во-первых, невозможно своими руками оборудовать кабину профессионального уровня. Во-вторых, стоимость материалов, которые необходимы для качественной изоляции, запросто может превышать цену готовой модели.</p>
    </div>
  </div>
</section>

<section class="news-list">
  <div class="container">
    <div class="news-list__top">
      <h2 class="news-list__title title">Публикации на тему</h2>
      <a href="#" class="news-list__more link">Читать все публикации</a>
    </div>
    <div class="splide js-slider" data-name="news-list">
      <div class="splide__track">
        <ul class="splide__list">
          <li class="splide__slide">

            <a href="#" class="news-list__link">
              <p class="news-list__date">12.02.2021</p>
              <h3 class="news-list__item-title">Как подобрать систему трансляции</h3>
              <div class="news-list__img-wrap">
                <p class="news-list__label">полезно знать</p>
                <img src="https://via.placeholder.com/320x200" alt="" class="news-list__img">
              </div>
              <p class="news-list__desc">Для качественной записи вокала, музыки, речи нужна чувствительная аппаратура. Без звукоизоляции она «воспримет» не только голос и мелодию, но и посторонние шумы, поэтому студии оборудуют звукоизоляционные кабины.</p>
            </a>

          </li>
          <li class="splide__slide">
            <a href="#" class="news-list__link">
              <p class="news-list__date">12.02.2021</p>
              <h3 class="news-list__item-title">Как подобрать систему трансляции</h3>
              <div class="news-list__img-wrap">
                <p class="news-list__label">полезно знать</p>
                <img src="https://via.placeholder.com/320x200" alt="" class="news-list__img">
              </div>
              <p class="news-list__desc">Для качественной записи вокала, музыки, речи нужна чувствительная аппаратура. Без звукоизоляции она «воспримет» не только голос и мелодию, но и посторонние шумы, поэтому студии оборудуют звукоизоляционные кабины.</p>
            </a>
          </li>
        </ul>
      </div>
    </div>
  </div>
</section>

{% endblock %}
